@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: "Anta", sans-serif;
}