@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --primary-blue-100: #1b51b2;
  --secondary-blue-100: #3799fa;
  --text-color: #172C54;
  --font-display: "Karla", sans-serif;
}
