@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap');

@import "tailwindcss";


@theme {
  --font-header: "Fjalla One", sans-serif;
  --font-paragraph: "Cantarell", sans-serif;
  --paragraph-text: #24292F
}
